* {
    box-sizing: content-box;
}

html {
    background: transparent url('background-grid.png') left top repeat scroll;
}

body {
    margin: 0;
}



.borders-one {
    border: 4px dotted green;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    /* box-shadow: rgb(red, green, blue); */
    text-align: center;
    line-height: 200PX;
}

