.entity {
    position: absolute;
    width: 85px;
    height: 85px;
  
    &--pac {
      position: absolute;
      font-weight: bold;
      text-align: center;
      padding-top: 65px;
      user-select: none;    
    }
  
    &--wall {
      background-image: url('./img/wall.png');
    }
  
    &--apple {
      background-image: url('./img/apple.png');
    }
  
    &--bomb {
      background-image: url('./img/bomb.png');
    }
  
    &--tomb {
      background-image: url('./img/tomb.png');
    }
  }
  