* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: teal;
    line-height: 2em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
}