* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.book {
  flex-basis: 15%;
  margin: 0 1em 1em 1em;
  padding: 5px;
  transition: 400ms;
}

.book__name {
  font-weight: bold;
}

.book img {
  width: 120px;
}

.book:hover {
  border: 1px solid black;
  box-shadow: 5px 5px 7px 0px #774F44;
}

nav {
  background-color: darkgray;
}

nav a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 1em;
  transition: 400ms;
}

nav a:hover {
  background-color: #101110;
  color: lightgray;
}

.alert--good {
  color: green;
}

.alert--bad {
  color: red;
}

