/* .dice-container {
            background-image: url('sides/side1.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

        .two {
            background-image: url('sides/side2.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

        .three {
            background-image: url('sides/side3.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

        .four {
            background-image: url('sides/side4.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

        .five {
            background-image: url('sides/side5.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

        .six {
            background-image: url('sides/side6.png');
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        } */

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .left-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
        }

        .right-container {
            flex-grow: 3;
            border-left: solid 1px grey;
            padding-left: 1em;
        }
        

        img {
            width: 200px;
        }

        h4 {
            margin: 0;
        }