* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px "Roboto", sans-serif; 
}

nav {
    font-size: 1.2em;
    text-align: center;
    height: 1.9em;
}

a {
    color: black;
    text-decoration: none;
}
nav a {
    padding: 0em 2em;
    line-height: 1.9em;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.banner {
    background-image: url('../graphics/banner.jpg');
    background-size: cover;
    background-position: center top;
    height: 25em;
}

.container h1 {
    color: white;
    font-size: 2.2em;
    margin: 0;

}

.container h1:nth-of-type(1)::first-letter {
    color: #FFE964;
}

.container h1:nth-of-type(2)::first-letter {
    color: #FF523D;
}

.container h1:nth-of-type(3)::first-letter {
    color: #223C88;
}