* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px "Roboto", sans-serif; 
    

}

p {
    font-size: 1.2em;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    margin: 0;
}

nav {
    font-size: 1em;
    text-align: center;
    height: 3em;
}

a {
    color: black;
    text-decoration: none;
}

.team img {
    display: block;
    width: 20em;
    padding: 2em 0 0.8em 0;
    margin: 0 auto;
}

nav a {
    padding: 0em 2em;
    line-height: 3em;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.banner {
    background-image: url('../graphics/banner.jpg');
    background-size: cover;
    background-position: center top;
    height: 25em;
    padding: 8em 0;
}

.container h1 {
    color: white;
    font-size: 3em;
    margin: 0;

}

section {
    padding: 4em 0;
}
.container h1:nth-of-type(1)::first-letter {
    color: #FFE964;
}

.container h1:nth-of-type(2)::first-letter {
    color: #FF523D;
}

.container h1:nth-of-type(3) {
    border-bottom: 4px solid white;
    display: inline-block;
}

.container h1:nth-of-type(3)::first-letter {
    color: #223C88;
       
}

.mission {
    background-color: #FFE964;
    height: 22em;
}

.mission h2, .mission p  {
    text-align: center;
    
}

.team {
    background-color: #FF523D;
}

.team, .contact h2 {
    color: white;
}

.team h3,
.team p {
    color: white;
    text-align: center;
    
}

.contact {
    background-color: #223C88;
    height: 25em;
}

.contact p {
    margin-top: 1em;
    color: white;
}