* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.item__add {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 0 auto;
}