.box {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    opacity: 1;
    background-color: rgb(197, 162, 46);
    transition: 1s;
}

.box--modify {
    height: 400px;
    transform: rotateZ(90deg);
    border: 10px solid black;
}

