.top-menu {
    background-color: $sec-bg-color;
    &__logo {
        background-color: white;
        height: 2.5em;
        flex-grow: 0;
        }
    &__burger {
        display: none;
        @media (max-width: $small-break-point) {
            display: inline-block;
            margin-left: auto;
            margin-right: 2em; 
        }
    }
        nav {
        display: flex;
        justify-content: space-around;
        width: 50%;
        @media (max-width: 930px) {
            width:100%;
        }
        @media (max-width: $small-break-point) {
            display: none;
        }
        a {
            flex-grow: 1;
            text-align: center;
            //to make padding posible so the background color will cover the whole row
            display: block;
            padding: .6em 0 0 0;
            color: white;
            text-decoration: none;
            // margin: auto;
            &:hover {
                background-color: $accent-color;
            }
        }
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    height: 0vh;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: 1s;
    animation-timing-function: linear;
    
    img {
        align-self: flex-end;
    }

    a {
        color: #54be90;
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;
    }

    &--display {
        height: 100vh;
        padding: 1em 1em 2em 1em;
        transform: rotateX(0);
    }

}

.white-spacer {
    background-color: white;
    height: 5em;
    @media (max-width: $small-break-point) {
        display: none;
    }
}

.hero-image {
    background-image: url("/img/canyon.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color:  rgba(0, 0, 0, 0.4);
    height: 80vh;
    overflow: hidden;
    justify-content: center;

    .name {
        text-decoration: underline;
        color: #54be90;
    }

}
