* {
    box-sizing: border-box;
    

}

body {
    background-color: #A3DBE0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: #8F4714;
    width: 75%;
    margin: 0 auto;
}

img {
    width: 45%;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 30% 0 30%;
}



p {
    font-size: 0.8em;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #8F4714;
}

a:hover {
    font-weight: bold;
    color: #8F4714;
}

.button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: #8F4714;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    border: 0px;
    padding: 5px;
}

.the-text.colorized {
    color: pink;
    font-size: 2rem;
}