* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background: url("../img/bg.jpg") center/100% auto repeat fixed;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 65%;
}

.circle {
    border-radius: 50%;
    margin: -150px auto 0 auto;
    background-color: teal;
    width: 400px;
    height: 400px;
    color: white;
    text-align: center;
    background-image: url("../img/tent.svg");
    background-repeat: no-repeat;
    background-position: top center;
    
}

h1{
    font-family: "From the Woods", sans-serif;
    font-size: 4em;
    text-align: center;
    color: white;
}

h2 {
    margin: 0;
}

.heading {
    height: 60vh;
}

.heading p {
    color: white;
    font-weight: bold;
    /* padding-bottom: 50em; */
}

.circle-right {
    position: relative;
    left: 13em;
}

.circle-left {
    position: relative;
    right: 13em;
    /* bottom: 100px; */
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.circle h3 {
    padding-top: 10rem;
    margin: 0;

}

.circle p {
    padding: 0 2em 0 2em;
    margin: 0;
}

.footer {
    background-color: #2D4823;
    height: 25em;
    text-align: center;
    color: white;
    padding-top: 2em;
}

